%p#notice
  = notice

%p
  %b Name:
  = @task.name
%p
  %b Description:
  = @task.description
%p
  %b Due date:
  = @task.due_date
%p
  %b Category:
  = @task.category

.add_new_note_form
  %hr
  -#                 method    note(post path) passing the task hash   👇(AJAX) server generated javascript responses RJS
  = simple_form_for Note.new, url: task_notes_path(task_id: @task.id), remote: true do |f|
    = f.input :body, label: false, as: :string, placeholder: 'Digite su nota', input_html: { autocomplete: :off }
  %hr
.notes_container
  - @task.notes.reverse_each do |note|
    -#                                     👇 We pass the note object to the partial
    = render 'tasks/notes/note.html.haml', note: note

= link_to 'Edit', edit_task_path(@task)
\|
= link_to 'Back', tasks_path
