<!DOCTYPE html>
<html>
  <head>
    <title>Organizador</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <%= link_to "Cerrar sesion", destroy_user_session_path, method: :delete %>
    <% end %>
    <p><%= current_user ? current_user.email : nil %></p>
    <%= yield %>
  </body>
</html>
